/* .container {
  width: 80%;
  margin: auto;
} */

a {
  text-decoration: none !important;
}

.sm-btn {
  background-color: #98198e !important;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 20px;
  color: #fff;
}

.sm-theme {
  color: #51abe3;
}

.sm-btn-2 {
  background-color: #98198e !important;
  border: none;
  font-size: 1rem;
  color: #fff;
  padding: 10px 30px;
}

.sm-heading {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.sm-btn-light {
  border: 1px solid #51abe3;
  /* border-radius: 20px; */
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  transition: all ease 0.3s;
  padding: 10px 30px;
}

.sm-btn-light:hover {
  background-color: #51abe3;
}

.sm-title {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}

.sm-login-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sm-features {
  padding: 50px;
}

.sm-wrapper-bg {
  background-color: #f8f8f8 !important;
  padding: 50px 0;
  margin-bottom: 100px;
}

.navbar {
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}

/* HOME */
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../sm-hero-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
}

/* .landing-intro-content {
  position: relative;
} */

.sm-hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* NAVBAR SETTINGS */
.sm-nav-item {
  text-transform: uppercase;
}

.dropdown-item {
  text-transform: capitalize;
}

/* PROFILE SETTINGS */
body {
  background-color: #f2f6fc;
  color: #69707a;
  font-family: "Poppins", sans-serif;
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
